n8n-workflow.json
{
  "name": "Sensor Monitoring System",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/Users/j.ruchithareddy/.n8n-files/sensor_data.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "7c75c69d-103c-4740-8f9c-8cf96f8c5453",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "1173a7b3-31e4-4441-98e2-f851e230209b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "70eec44f-c8cb-445e-8671-367a09e5d591",
              "leftValue": "={{ $json.temperature }}",
              "rightValue": 90,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "85a83eb1-f4a2-4149-9ee8-6989103b721b",
              "leftValue": "={{ $json.pressure }}",
              "rightValue": 130,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "adea54fa-6dd1-4e90-9379-e590a5016d0a",
              "leftValue": "={{ $json.vibration }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "99c90a81-2133-497e-85fd-34fa3adbcc84",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "ruchithareddy501@gmail.com",
        "toEmail": "ruchithareddy903@gmail.com",
        "subject": "⚠️ ALERT: Sensor Threshold Exceeded",
        "emailFormat": "text",
        "text": "=Dangerous sensor reading detected!\n\nTime: {{$json.time}}\nTemperature: {{$json.temperature}} °C\nPressure: {{$json.pressure}}\nVibration: {{$json.vibration}}\n\nPlease inspect the system immediately.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1040,
        -96
      ],
      "id": "2d82c771-07bb-4118-b08f-dbcedab26d53",
      "name": "Send an Email",
      "webhookId": "6da1bab2-a3c9-480f-8939-7cb6ee9a1990",
      "credentials": {
        "smtp": {
          "id": "LhyfoGRW0cCM31sZ",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "596ae6c9-416f-4d34-a006-b83ad82c9145",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst items = $input.all();\nreturn [items[items.length - 1]];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "80f30589-ed4f-402d-add6-82ba58c2d668",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d54a4fec-190b-40ed-bd9e-3260bcbfe130",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e7c1cb81a0314ee4398bf885c54243fb98e8113f979f02df91ce9d900caec6f"
  },
  "id": "cOoyrrGeQC7bRRRH",
  "tags": []
}
